<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chỉnh sửa thông tin cá nhân</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="card row" style="border-color: #00BFFF">
        <div class="alert" role="alert" style="background: #00BFFF">
            Thông tin cá nhân
        </div>
        <form class="mx-5 mb-3 mt-2" method="post" th:object="${users}">
            <input type="hidden" th:filed="*{user}">
            <input type="hidden" th:filed="*{passWord}">
            <input type="hidden" th:filed="*{rePassWord}">
            <input type="hidden" th:filed="*{anh}">
            <div class="form-group row">
                <label class="col-lg-2 col-sm-4 col-form-label" for="name">Họ Tên<span
                        class="text-danger">*</span></label>
                <div class="col-lg-10 col-sm-8">
                    <input type="text" class="form-control" th:field="*{fullName}" id="name">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 col-sm-4 col-form-label" for="email">Email<span
                        class="text-danger">*</span></label>
                <div class="col-lg-10 col-sm-8">
                    <input type="text" class="form-control" th:field="*{email}" id="email">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-lg-2 col-sm-4 col-form-label" for="address">Địa Chỉ<span class="text-danger">*</span></label>
                <div class="col-lg-10 col-sm-8">
                    <input type="text" class="form-control" th:field="*{address}" id="address">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-lg-2 col-sm-4 col-form-label" for="phone">Số Điện Thoại<span
                        class="text-danger ">*</span></label>
                <div class="col-lg-10 col-sm-8">
                    <input type="text" class="form-control" th:field="*{phoneNumber}" id="phone">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-lg-2 col-sm-4 col-form-label hiden"></span></label>
                <div class="col-lg-10 col-sm-8">
                    <label class="col-lg-10 col-sm-12 col-form-label "><span class="text-danger mr-1">*</span>Các trường
                        bắt buộc điền</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 col-sm-4 col-form-label hiden"></span></label>
                <div class="col-lg-10 col-sm-8">
                    <button class="btn  " type="submit">Gửi</button>
                </div>
            </div>
        </form>
        <div class="form-group row">
            <label class="col-lg-3 col-sm-4 col-form-label hiden"></span></label>
            <label class="col-lg-2 col-sm-4 col-form-label hiden"></span></label>
            <div class="col-lg-6 col-sm-8">
                <a href="#">
                    <button class="btn btn-primary " >Đổi Mật Khẩu</button>
                </a>
                <a th:href="@{/view/__${userName}__}">
                    <button class="btn btn-danger ">Đóng</button>
                </a>
            </div>
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>