<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trắc nghiệm Codegym</title>
    <link rel = "icon" href =
            "https://aztest.vn/uploads/news/2019/1_6.jpg"
          type = "image/x-icon">
    <link rel="stylesheet" href="bootstrap413/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="datatables/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="../static/css/default-page.css" rel="stylesheet" th:href="@{/css/default-page.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<th:block th:insert="~{/default-page :: navbar}"></th:block>
<div class="container">
    <div class="row card mt-5" style="border-color: #00BFFF">
        <div class="card-header col-lg-12" style="background: #00BFFF">
            <label class="col-form-label"><h4><strong>Lịch Sử</strong></h4></label>
        </div>
        <div class="p-2">
            <table class="table mt-3 table-striped" id="tableHistory">
                <thead>
                <tr style="background-color: deepskyblue">
                    <th>STT</th>
                    <th>Mã Đề Thi</th>
                    <th>Tên Đề Thi</th>
                    <th>Điểm Số</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="history,index : ${results}">
                    <td th:text="${index.index+1}"></td>
                    <td th:text="${history.questions.idName}"></td>
                    <td th:text="${history.questions.nameExam}"></td>
                    <td th:text="${history.totalCorrect}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row mt-3">
            <span class="col-lg-2 hide"></span>
            <span class="col-lg-3">Tổng Điểm: <span style="color: red" th:text="${sum}"></span></span>
            <span class="col-lg-3">Điểm trung bình: <span style="color: red" th:text="${#numbers.formatDecimal(avg, 0, 'COMMA', 2, 'POINT')}"></span></span>
            <span><a class="btn btn-primary" href="/default">Đóng</a></span>
        </div>
    </div>
</div>
<th:block th:insert="~{/default-page :: footer}"></th:block>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#tableHistory').dataTable({
            "dom": 'lrtip',
            "lengthChange": false,
            "pageLength": 5
        });
    });
</script>
<script src="jquery/jquery-3.5.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="datatables/js/jquery.dataTables.min.js"></script>
<script src="datatables/js/dataTables.bootstrap4.min.js"></script>
</body>
</html>