<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thông tin cá nhân</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<th:block th:insert="~{/default-page :: navbar}"></th:block>
<div class="container">
    <div class="alert alert-primary alert-dismissible fade show" role="alert" th:if="${message}">
        <strong th:text="${message}"></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card mt-5 row" style="border-color: #00BFFF">
        <div class="card-header col-lg-12" style="background: #00BFFF">
            <label class="col-form-label">Thông Tin Cá Nhân</label>
        </div>
        <form class="form-group row col-lg-12" th:object="${users}" th:method="post" th:action="@{/edit}">
            <input type="hidden" th:field="*{passWord}">
            <input type="hidden" th:field="*{rePassWord}">
            <div class="col-lg-4 mt-2">
                <p class="text-center">Ảnh</p>
                <p class="text-center"><img th:src="@{/img/{img}(img=${users.getAnh()})}" style="width: 10em;height: 10em"/></p>
            </div>
            <div class="col-lg-8 mt-2">
                <div class="form-group row">
                    <label class="col-lg-3">Tài Khoản:</label>
                    <label class="col-lg-9" th:text="${users.user}"></label>
                    <input type="hidden" th:field="*{user}">
                </div>
                <div class="form-group row">
                    <label class="col-lg-3">Tên:</label>
                    <label class="col-lg-9" th:text="${users.fullName}"></label>
                    <input type="hidden" th:field="*{fullName}">
                </div>
                <div class="form-group row">
                    <label class="col-lg-3">Email:</label>
                    <label class="col-lg-9" th:text="${users.email}"></label>
                    <input type="hidden" th:field="*{email}">
                </div>
                <div class="form-group row">
                    <label class="col-lg-3">Địa Chỉ:</label>
                    <label class="col-lg-9" th:text="${users.address}"></label>
                    <input type="hidden" th:field="*{address}">
                </div>
                <div class="form-group row">
                    <label class="col-lg-3">Số Điện Thoại:</label>
                    <label class="col-lg-9" th:text="${users.phoneNumber}"></label>
                    <input type="hidden" th:field="*{phoneNumber}" th:value="*{phoneNumber}">
                </div>
            </div>
            <div class="row col-lg-12">
                <input class="btn"   style="margin-left: 6em" type="submit" value="Cập Nhật"/>
                &nbsp  <input type="file"
                              value="Chọn Tệp"
                              class="btn" th:field="*{anh}" >
            </div>
        </form>
        <div class="row col-lg-12 mt-5 ">
            <a th:href="@{/editMember/__${users.user}__}">
                <button class="btn btn-primary" style="margin-left: 27em">Chỉnh Sửa</button>
            </a>&nbsp; <a href="#">
            <button class="btn btn-primary">Lịch Sử</button>
        </a>&nbsp; <a th:href="@{/default}">
            <button class="btn btn-danger">Đóng</button>
        </a>
        </div>
        <div class="row col-lg-12 hide mt-3"></div>
    </div>
</div>
<th:block th:insert="~{/default-page :: footer}"></th:block>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>