<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vinh Danh Bảng Vàng</title>
    <style>
        .number {
            display: inline;
            border-radius: 15px;
            padding: 3px;
            background-color: gray;
            color: white;
            float: right;
            margin-right: 20px;
        }</style>
    <link rel="stylesheet" type="text/css" href="List.css">
    <link rel="stylesheet" href="bootstrap413/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="datatables/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row card mt-5 col-4" style="border-color: #00BFFF;padding:0px;">
        <div class="card-header  " style="background: #00BFFF;text-align: center;">
            <label class="col-form-label">Vinh danh bảng vàng</label>
        </div>
        <table class="table mt-3 ml-3 mr-3 h-50 tablemain " id="tableHistory" style="width:90%">
            <thead>
            <tr class="table-danger text-danger">
                <th>Lonvirus <p class="number">220</p></th>
            </tr>
            <tr class="table-warning text-warning">
                <th>Laphuc <p class="number">200</p></th>

            </tr>
            <tr class="table-primary text-primary">
                <th>PhuNhuan <p class="number">180</p></th>

            </tr>
            <tr class="table-success text-success">
                <th>Vonghia <p class="number">150</p></th>

            </tr>
            <tr class="table-success text-success">
                <th>Demons <p class="number">100</p></th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
</body>
</html>