<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vinh Danh Bảng Vàng</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .number {
            display: inline;
            border-radius: 15px;
            padding: 3px;
            background-color: rgb(114, 187, 230);
            color: white;
            float: right;
            margin-right: 20px;
            font-size: 14px
        }</style>
</head>
<body>
<div class="container">
    <div  th:fragment="thong-ke" >
        <div class="card-header  " style="background: #00BFFF;text-align: center;">
            <label class="col-form-label" style="color: black;"><i class="far fa-thumbs-up"></i>Vinh danh bảng vàng</label>
        </div>
        <table class="table table-hover mt-3 ml-2 mr-3 h-50 rounded "  id="tableHistory" style="width:90%;font-size: 15px">
            <thead>
            <tr class="table-primary text-primary">
                <td><i class="fa fa-user mr-1" aria-hidden="true"></i></i>Lonvirus <span style="float: right;" class="number">220</span></td>
            </tr>
            <tr class="table-primary text-primary">
                <td><i class="fa fa-user mr-1" aria-hidden="true"></i></i>Laphuc <span class="number">200</span></td>

            </tr>
            <tr class="table-primary text-primary">
                <td><i class="fa fa-user mr-1" aria-hidden="true"></i></i>PhuNhuan <span class="number">180</span></td>

            </tr>
            <tr class="table-primary text-primary">
                <td><i class="fa fa-user mr-1" aria-hidden="true"></i></i>Vonghia <span class="number">150</span></td>

            </tr>
            <tr class="table-primary text-primary">
                <td><i class="fa fa-user mr-1" aria-hidden="true"></i></i>Demons <span class="number">100</span></td>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
</body>
</html>