<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<table class="table table-bordered table-striped">
    <tr>
        <th>STT</th>
        <th>User Name</th>
        <th>Full Name</th>
        <th>Address</th>
        <th>Phone</th>
    </tr>
    <tr th:each="user, count : ${users}">
        <td th:text="${count.index + 1}"></td>
        <td th:text="${user.user}"></td>
        <td th:text="${user.fullName}"></td>
        <td th:text="${user.address}"></td>
        <td th:text="${user.phoneNumber}"></td>
        <td><a class="btn btn-warning" th:href="@{/user/editMember/{id}(id=${user.user})}">edit</a></td>
        <td><a class="btn btn-danger" th:href="@{/user/delete/{id}(id=${user.user})}" id="deleteButton">delete</a></td>
    </tr>
</table>
<div>
    <a th:href="@{'/user/list'(page=${users.number - 1})}" th:if="${users.hasPrevious()}">Previous</a>
    <span th:text="${users.number + 1}"></span>/<span th:text="${users.totalPages}"></span>
    <a th:href="@{'/user/list'(page=${users.number + 1})}" th:if="${users.hasNext()}">Next</a>
</div>

<script src="jquery/jquery-3.5.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>