<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
        <div class="container m-10 container-bordered">
            <table class="table table-striped table-bordered table-hover table-responsive-md">
                <thead>
                <tr class="table-success">
                    <th>List Exam</th>
                </tr>
                </thead>
            </table>
            <div class="btn-group mb-3">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Danh sách đề thi</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item">Vật Lý A</a>
                    <a class="dropdown-item">Vật Lý B</a>
                    <a class="dropdown-item">Vật Lý C</a>
                    <a class="dropdown-item">Vật Lý D</a>
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover table-responsive-md">
                <thead>
                <tr class="table-success">
                    <th>STT</th>
                    <th>Mã đề thi</th>
                    <th>Tên đề thi</th>
                    <th>Môn học</th>
                    <th>Khối học</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>001</td>
                    <td>Đề số 1</td>
                    <td>Vật Lý</td>
                    <td>A</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>002</td>
                    <td>Đề số 2</td>
                    <td>Hóa Học</td>
                    <td>B</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>003</td>
                    <td>Đề số 3</td>
                    <td>Anh Văn</td>
                    <td>C</td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <div style="float: right">
                <button type="button" class="btn-primary">Add new</button>
                <button type="button" class="btn-primary">Delete item</button>
                <button type="button" class="btn-primary">Close</button>
            </div>
        </div>
</body>
</html>