<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Trắc nghiệm Codegym</title>
    <link rel = "icon" href =
            "https://aztest.vn/uploads/news/2019/1_6.jpg"
          type = "image/x-icon">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="../static/css/default-page.css" rel="stylesheet" th:href="@{/css/default-page.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">


    <style>
        .number {
            display: inline;
            border-radius: 15px;
            padding: 3px;
            background-color: rgb(114, 187, 230);
            color: white;
            float: right;
            margin-right: 20px;
            font-size: 15px
        }</style>
    <!-- Bootstrap CSS -->
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{/style/index.css}">
    <title>Home Page</title>
</head>
<body>

<!-- Importing NavBar -->
<div th:insert="~{/default-page :: navbar}"></div>

<!-- Main Container Start -->
<div class="container-fluid mt-3">

    <div class="row">
        <div class="d-none d-md-block col-md-3">
            <div class="card-left" th:fragment="card-left">
                <div class="card text-primary bg-light mb-3" th:insert="~{Hau/ListInformation.html :: thong-ke}"
                     style="max-width: 14rem;">

                    <!--                <div class="card-header"><i class="fa fa-fw fa-thumbs-o-up"></i>Vinh danh bang vang</div>-->
                    <!--                <div class="card-body bg-white ">-->
                    <!--                    <h5 class="card-title">Primary card title</h5>-->
                    <!--                    <p class="card-text">the card's content.</p>-->
                    <!--                </div>-->
                </div>
                <div class="card text-primary bg-light mb-3" style="max-width: 14rem;" >
                    <div class="card-header"><i class="fas fa-phone-alt mr-1"></i>Hỗ trợ trực tuyến</div>
                    <div class="card-body bg-white ">

                        <span class="card-title">Gmail: <span class="">team@gmail.com</span></span>
                        <p class="card-text"></p><span class="card-title">Phone: <span class="">0337885199</span></span>

                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card-main">
                    <form class="card bg-dark py-5 px-4" action="" method="Get">
                        <p style="text-align: center">Bài thi kiểm tra IQ</p>
                        <div sec:authorize="isAuthenticated()">
                          <input type="hidden"  th:value="${userName}" name="username" class="form-control" />
                        </div>
                        <div sec:authorize="!isAuthenticated()">
                            <input type="hidden" name="username" class="form-control"/>
                        </div>
                        <p class="text-danger warning" th:if="${warning}" th:text="${warning}"></p>
                        <a  th:href="@{/quiz1/__${userName}__}" type="submit" class="btn btn-info" >Bắt Đầu</a>
                    </form>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="card-right" style="max-width: fit-content;" th:fragment="card-right">

                <div class="card-body">
                    <div class="card" style="max-width: 14rem;">
                        <div class="card-header">
                        <span><svg class="bi bi-box-arrow-in-right" fill="currentColor" height="16" viewBox="0 0 16 16"
                                   width="16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"
                                  fill-rule="evenodd"/>
                            <path d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                                  fill-rule="evenodd"/>
                        </svg></span> &nbsp;<a th:href="@{/login}">Đăng Nhập</a>
                        </div>
                        <div class="card-body">
                            <div sec:authorize="isAuthenticated()">
                                <span>Xin Chào:</span> <span sec:authentication="name" style="color: red"></span><br>
                                <a th:href="@{/view/__${userName}__}" class="nav-link">Thông Tin Cá Nhân</a>
                                <a href="/logout" class="mid_card-text pl-5">
                                    <button class="btn btn-primary">
                                        Đăng xuất
                                    </button>
                                </a>
                            </div>
                            <div sec:authorize="!isAuthenticated()">
                                <span>Vui Lòng Đăng Nhập</span>
                            </div>
                        </div>
                    </div>
                    <div class="card text-primary mb-3" th:insert="~{Hau/HonorTheGoldBoard.html :: thong-ke-thanh-vien}"
                         style="max-width: 14rem;background: #b8daff;">

                    </div>

                   
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Importing Footer -->
    <div th:insert="~{/default-page :: footer}"></div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>