<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <title>Ngân hàng câu hỏi</title>
    <style>
        select {
            margin: 0 auto;
            background-color: #6a87d8;
            -webkit-appearance: none;
            -webkit-border-radius: 0px;

            border: 0;
            outline: 1px solid #CCC;

        }

        a {
            margin: 5px;

        }

        .button1 {
            float: right;
            margin-left: 10px;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background: rgb(224, 218, 218);
        }

        .button2 {
            float: right;
            margin-left: 10px;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background: rgb(194, 32, 32);
        }

        .button3 {
            float: right;
            margin-left: 10px;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background: rgb(218, 138, 138);
        }

    </style>
</head>
<body>
<div class="content">
    <div class="container  p-3 my-3">
        <h2 class="text-primary" style="background-color: #4acbd4;">List Question </h2>
        <p>➽ List name:
        <div class=" p-lg-0 my-3">
            <select class="selectpicker" searchable="Search here..">
                <option value="" disabled selected>Choose your choice</option>
                <option value="1">Danh sách thành viên</option>
                <option value="2">Ngân hàng câu hỏi</option>
                <option value="3">Danh sách đề thi</option>
            </select>
        </div>
    </div>
    <div class="table-responsive" cellpadding="2" cellspacing="2">
        <table class="table table-striped custom-table mt-xl-2 mb-lg-3">
            <thead>
            <tr>
                <th scope="col">
                    <!-- <label class="control control--checkbox"> -->
                    <!-- <input type="checkbox"  class="js-check-all"/> -->
                    <!-- <div class="control__indicator"></div> -->
                    <!-- </label> -->
                </th>
                <th scope="col">STT</th>
                <th scope="col">Mã câu hỏi</th>
                <th scope="col">Câu hỏi</th>
                <th scope="col">Phương án trả lời</th>
                <th scope="col">Đáp án</th>
                <th scope="col">Hành động</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr scope="row">
                <td>
                    <label class="control control--checkbox">
                        <input type="checkbox"/>
                        <div class="control__indicator"></div>
                    </label>
                </td>
                <td>
                    1
                </td>
                <td class="pl-0">
                    <div class="d-flex align-items-center">
                        <!-- <label class="custom-control ios-switch">
                        <input type="checkbox" class="ios-switch-control-input" checked="">
                        <span class="ios-switch-control-indicator"></span>
                        </label> -->

                        <b><a href="#" style="margin-left: 10px;">001</a></b>
                    </div>
                </td>
                <td class="font-weight-bold">
                    Chuyển động tăng dần đều là gì?
                    <!-- <small class="d-block">Far far away, behind the word mountains</small> -->
                </td>
                <td>

                    <p style="margin: 3px; background-color:lightgreen;
               box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
               border-radius: 8px; font-weight:bolder;
              ">Gia tốc không thay đổi</p>
                    <p style="margin: 3px; background-color:rgb(204, 227, 238);
               box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
               border-radius: 8px;
               font-weight: bolder;">Vận tốc không thay đổi </p>

                    <p style="margin: 3px; background-color:rgb(223, 230, 169);
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                border-radius: 8px;
                font-weight: bolder;"> Quãng đường đi lớn nhất </p>

                    <p style="margin: 3px; background-color:rgb(230, 207, 220);
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                border-radius: 8px;
                font-weight: bolder;"> Vận tốc tăng dần với gia tốc không đổi </p>

                </td>
                <td>Vận tốc tăng dần với gia tốc không đổi</td>
                <td>
                    <a href="#" class='fas fa-highlighter'></a>
                    <a href="#" class='fas fa-eraser'></a>


                </td>

            </tr>

            <tr>

                <!-- DÒNG 2 -->

            <tr scope="row">
                <td>
                    <label class="control control--checkbox">
                        <input type="checkbox"/>
                        <div class="control__indicator"></div>
                    </label>
                </td>
                <td>
                    1
                </td>
                <td class="pl-0">
                    <div class="d-flex align-items-center">
                        <!-- <label class="custom-control ios-switch">
                        <input type="checkbox" class="ios-switch-control-input" checked="">
                        <span class="ios-switch-control-indicator"></span>
                        </label> -->

                        <b><a href="#" style="margin-left: 10px;">001</a></b>
                    </div>
                </td>
                <td class="font-weight-bold">
                    Chuyển động tăng dần đều là gì?
                    <!-- <small class="d-block">Far far away, behind the word mountains</small> -->
                </td>
                <td>

                    <p style="margin: 3px; background-color:lightgreen;
                 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                 border-radius: 8px; font-weight:bolder;
                ">Gia tốc không thay đổi</p>
                    <p style="margin: 3px; background-color:rgb(204, 227, 238);
                 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                 border-radius: 8px;
                 font-weight: bolder;">Vận tốc không thay đổi </p>

                    <p style="margin: 3px; background-color:rgb(223, 230, 169);
                  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                  border-radius: 8px;
                  font-weight: bolder;"> Quãng đường đi lớn nhất </p>

                    <p style="margin: 3px; background-color:rgb(230, 207, 220);
                  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                  border-radius: 8px;
                  font-weight: bolder;"> Vận tốc tăng dần với gia tốc không đổi </p>

                </td>
                <td>Vận tốc tăng dần với gia tốc không đổi</td>
                <td>
                    <a href="#" class='fas fa-highlighter'></a>
                    <a href="#" class='fas fa-eraser'></a>


                </td>

            </tr>

            <tr>

                <!-- DÒNG 3 -->


            <tr scope="row">
                <td>
                    <label class="control control--checkbox">
                        <input type="checkbox"/>
                        <div class="control__indicator"></div>
                    </label>
                </td>
                <td>
                    1
                </td>
                <td class="pl-0">
                    <div class="d-flex align-items-center">
                        <!-- <label class="custom-control ios-switch">
                        <input type="checkbox" class="ios-switch-control-input" checked="">
                        <span class="ios-switch-control-indicator"></span>
                        </label> -->

                        <b><a href="#" style="margin-left: 10px;">001</a></b>
                    </div>
                </td>
                <td class="font-weight-bold">
                    Chuyển động tăng dần đều là gì?
                    <!-- <small class="d-block">Far far away, behind the word mountains</small> -->
                </td>
                <td>

                    <p style="margin: 3px; background-color:lightgreen;
               box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
               border-radius: 8px; font-weight:bolder;
              ">Gia tốc không thay đổi</p>
                    <p style="margin: 3px; background-color:rgb(204, 227, 238);
               box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
               border-radius: 8px;
               font-weight: bolder;">Vận tốc không thay đổi </p>

                    <p style="margin: 3px; background-color:rgb(223, 230, 169);
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                border-radius: 8px;
                font-weight: bolder;"> Quãng đường đi lớn nhất </p>

                    <p style="margin: 3px; background-color:rgb(230, 207, 220);
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                border-radius: 8px;
                font-weight: bolder;"> Vận tốc tăng dần với gia tốc không đổi </p>

                </td>
                <td>Vận tốc tăng dần với gia tốc không đổi</td>
                <td>
                    <a href="#" class='fas fa-highlighter'></a>
                    <a href="#" class='fas fa-eraser'></a>


                </td>

            </tr>

            <tr>
            <tr>


            <tr scope="row">
                <td>
                    <label class="control control--checkbox">
                        <input type="checkbox"/>
                        <div class="control__indicator"></div>
                    </label>
                </td>
                <td>
                    1
                </td>
                <td class="pl-0">
                    <div class="d-flex align-items-center">
                        <!-- <label class="custom-control ios-switch">
                        <input type="checkbox" class="ios-switch-control-input" checked="">
                        <span class="ios-switch-control-indicator"></span>
                        </label> -->

                        <b><a href="#" style="margin-left: 10px;">001</a></b>
                    </div>
                </td>
                <td class="font-weight-bold">
                    Chuyển động tăng dần đều là gì?
                    <!-- <small class="d-block">Far far away, behind the word mountains</small> -->
                </td>
                <td>

                    <p style="margin: 3px; background-color:lightgreen;
                 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                 border-radius: 8px; font-weight:bolder;
                ">Gia tốc không thay đổi</p>
                    <p style="margin: 3px; background-color:rgb(204, 227, 238);
                 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                 border-radius: 8px;
                 font-weight: bolder;">Vận tốc không thay đổi </p>

                    <p style="margin: 3px; background-color:rgb(223, 230, 169);
                  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                  border-radius: 8px;
                  font-weight: bolder;"> Quãng đường đi lớn nhất </p>

                    <p style="margin: 3px; background-color:rgb(230, 207, 220);
                  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                  border-radius: 8px;
                  font-weight: bolder;"> Vận tốc tăng dần với gia tốc không đổi </p>

                </td>
                <td>Vận tốc tăng dần với gia tốc không đổi</td>
                <td>
                    <a href="#" class='fas fa-highlighter'></a>
                    <a href="#" class='fas fa-eraser'></a>


                </td>

            </tr>

            <tr>
            </tr>
            </tbody>
        </table>
    </div>
</div>

        <button class="button1">Import question</button>
        <button class="button2">Add new</button>
        <button class="button3">Close</button>
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
</body>
</html>