<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <form class="form-group">
                <table border="1" class="col-lg-9 border-success">
                    <thead>
                    <tr>
                        <td>
                            <div class="col-lg-12" style="background: #7abaff">
                                <label class="col-form-label">Information Member</label>
                            </div>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-lg-4 mt-4">
                                    <p class="text-center col-lg-12">Avatar</p>
                                    <div class="col-lg-6 text-center" style="margin-left: 5em">
                                        <img src="/img/anh1.jpg" width="180px" height="178px">
                                    </div>
                                </div>
                                <div class="col-lg-6 mt-3">
                                    <div class="form-group" style="background: #7abaff ">
                                        <label class="col-lg-3">User : </label><label class="col-lg-4">demons</label>
                                    </div>
                                    <div class="form-group" style="background: #20c997">
                                        <label class="col-lg-3">Name : </label><label class="col-lg-4">demons</label>
                                    </div>
                                    <div class="form-group" style="background: #aab7d1">
                                        <label class="col-lg-3">Email : </label><label class="col-lg-4">demons</label>
                                    </div>
                                    <div class="form-group" style="background: lightpink">
                                        <label class="col-lg-3">Address : </label><label class="col-lg-4">demons</label>
                                    </div>
                                    <div class="form-group" style="background: gold">
                                        <label class="col-lg-3">Phone : </label><label class="col-lg-4">demons</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-12" style="margin-left: 6em">
                                    <button class="btn">Update</button>&nbsp;<span><input type="file"
                                                                                          value="Chọn tệp"></span>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-12 text-center">
                                    <button class="btn btn-success">Edit</button>
                                    <button class="btn btn-success">History</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>